// These are the styles to make some of the templates look extra nice.
// Feel free to remove these styles for production!
// Body Styles 
// Full Width Headers
.navbar {
	background: $white;
	.wrapper-inner {
		padding: 15px;
		border-bottom: 1px solid $light-gray;
		.container {
			background-color: $white;
		}
	}
	.columns {
		padding-bottom: 0;
	}
}

.hero {
	&-inner {
		vertical-align: middle;
	}
	.columns {
		padding-bottom: 0;
	}
}

.container {
	&.border {
		display: block;
		border-collapse:separate;
		border-radius: 5px;
		border: 1px solid $light-gray;
		box-shadow: 0 0 45px -15px rgba($black, .15);
		
		
		> tr {
			> td {
				
			}
			
		}
	}
	
}

/* Small only */

@media only screen and (max-width: #{$global-breakpoint}) {}
